@import "tailwindcss";

/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Class for Josefin Sans */
.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}


/* Class for Lato */
.font-lato {
  font-family: 'Lato', sans-serif;
}

